<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h3>Account Information</h3>

    <table th:fragment="accountTable">
        <tr>
            <td th:text="您的名字">First name:</td>
            <td>
                <input type="text" name="firstName" th:value="${session.account?.firstName} ?:''"/>
            </td>
        </tr>
        <tr>
            <td th:text="您的姓氏">Last name:</td>
            <td>
                <input type="text" name="lastName" th:value="${session.account?.lastName} ?:''"/>
            </td>
        </tr>
        <tr>
            <td th:text="您的邮箱">Email:</td>
            <td><input type="text" size="40" name="email" th:value="${session.account?.email} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="手机号">Phone:</td>
            <td><input type="text" name="phone" th:value="${session.account?.phone} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="首要地址">Address 1:</td>
            <td><input type="text" size="40" name="address1" th:value="${session.account?.address1} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="次要地址">Address 2:</td>
            <td><input type="text" size="40" name="address2" th:value="${session.account?.address2} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="城市">City:</td>
            <td><input type="text" name="city" th:value="${session.account?.city} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="州县">State:</td>
            <td><input type="text" size="4" name="state" th:value="${session.account?.state} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="地区码">Zip:</td>
            <td><input type="text" size="10" name="zip" th:value="${session.account?.zip} ?:''"/></td>
        </tr>
        <tr>
            <td th:text="地区">Country:</td>
            <td><input type="text" size="15" name="country" th:value="${session.account?.country} ?:''"/></td>
        </tr>
    </table>

    <h3 th:fragment="h3" th:text="个人信息">Profile Information</h3>

    <table th:fragment="profileTable">
        <tr>
            <td th:text="语言偏好">Language Preference:</td>
            <td>
                <select name="languagePreference" id="languagePreference">
                    <option th:each="languages:${session.languages}" th:text="${languages}">${languages}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="分类">Favourite Category:</td>
            <td>
                <select name="favouriteCategoryId" id="favouriteCategoryId">
                    <option th:each="categories:${session.categories}" th:text="${categories}">${categories}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="激活我的列表">Enable MyList</td>
            <td><input type="checkbox" name="listOption" /></td>
        </tr>
        <tr>
            <td th:text="激活我的黑名单">Enable MyBanner</td>
            <td><input type="checkbox" name="bannerOption" /></td>
        </tr>

    </table>

</html>