<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Common/template_head::head('Admin Login')}">

</head>
<body>
<header th:replace="~{Common/template_menu_admin::header}">
</header>

<h1 class="shop-name">欢迎使用宠物商店后台管理系统</h1>

<div th:replace="~{Common/login}"></div>

<!--<div class="user">-->
<!--  <div class="user-content">-->
<!--    <div class="user-title">-->
<!--      <h2>欢迎登录</h2>-->
<!--    </div>-->
<!--    <form class="user-form" action="/admin/loginCheck" method="POST" >-->
<!--      <div class="position">-->
<!--        <div class="user-form-error">-->
<!--          <i class="fa-solid fa-circle-exclamation error-icon" id="icon-exclamation"></i>-->
<!--          <p class="errormsg" id="errormsg"></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="user-form-item">-->
<!--        <label for="email" class="user-form-label-icon">-->
<!--          <i class="fa-solid fa-user"></i>-->
<!--        </label>-->
<!--        <input type="text" class="user-form-input" name="email" id="email" placeholder="请输入用户邮箱" autocomplete="off">-->
<!--      </div>-->
<!--      <div class="user-form-item">-->
<!--        <label class="user-form-label-icon">-->
<!--          <i class="fa-solid fa-lock"></i>-->
<!--        </label>-->
<!--        <input type="password" class="user-form-input" name="password" id="password" placeholder="请输入密码 " autocomplete="off " >-->

<!--      </div>-->
<!--      <br>-->
<!--      <br>-->
<!--      <br>-->
<!--      <div class="user-form-item">-->
<!--        <input type="submit" value="登录" id="btn" name="btn" class="user-form-submit">-->
<!--      </div>-->
<!--      <div class="user-form-link-sign">-->
<!--        <a th:href="@{adminRegister}" class="link">没有账号?点击此处进行注册</a>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--<script src="../../js/login.js"></script>-->
</body>
</html>