#background {
    position: fixed;
    background: rgb(232, 209, 168);
    width: 400px;
    height: auto;
    left: 36%;
    top: 0%;
    z-index: 3;
}
#cover{
    background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: none; z-index: 2;
}