<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物商店</title>
    <link rel="StyleSheet" href="../css/mypetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div id="Content" style="text-align: center">

    <h2 id="indexH1">欢迎浏览我们的宠物商店</h2>
<!--    post请求进入主页面-->
    <form id="indexForm" method="post" action="/mainPage">
        <input type="submit" style="height: 50px;width: 100px;" value="进入">
    </form>


    <p><sub>Copyright Central South University. </sub></p>

</div>
</body>
</html>
