<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jpetstore_sb.mapper.accountMapper">

    <select id="selectAll" resultType="com.example.jpetstore_sb.model.Account">
        select * from account;
    </select>
    <select id="selectAccount" resultType="com.example.jpetstore_sb.model.Account">
        select * from account where userid='j2ee';

    </select>

</mapper>